<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>context</title>

</head>
<body>
    <div><h1 align="center">Hello, friends </h1>
        <ul>

            {% for single_friends in friends %}

            {% if single_friends == 'Daria' %}
               <li><p>I am</p></li>
            {% else %}
               <li><p>{{single_friends|title|default:'plus one'}}</p></li>
            {% endif %}
            {% endfor %}
        </ul>
    </div>


</body>
</html>